<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.wanghui.shiyue.article.dao.ArticleTagMapper">


    <select id="getArticlesByTags" resultType="java.lang.Long">
        select distinct article_id from article_tag where tag_id in
        <foreach item="tagId" collection="tagIds" separator="," open="(" close=")">
            #{tagId}
        </foreach>
    </select>

    <insert id="saveArticleTags">
        insert into article_tag (article_id, tag_id) values
        <foreach item="tagId" collection="tagIds" separator=",">
            (#{articleId}, #{tagId})
        </foreach>
    </insert>

    <delete id="deleteByArticleId">
        delete from article_tag where article_id = #{articleId}
    </delete>
</mapper>