<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.wanghui.shiyue.article.dao.ArticleMapper">

    <sql id="BaseSQL">
        article_id,catalog_id,title,content,class_id,invalid_flag,create_time,invalid_flag,summary,cover
    </sql>

    <select id="queryByClassId" resultType="com.wanghui.shiyue.article.entity.po.ArticlePO">
        SELECT
            <include refid="BaseSQL"/>
        FROM article
        WHERE class_id = #{classId}
    </select>
    
    <select id="queryByCatalogId" resultType="com.wanghui.shiyue.article.entity.po.ArticlePO">
        SELECT
            a.article_id,a.catalog_id,a.title,a.content,a.class_id,a.invalid_flag,a.create_time,a.summary,a.cover
        FROM article a
        JOIN web.article_catalog ac ON a.article_id = ac.article_id
        WHERE ac.catalog_id = #{catalogId}
    </select>
    
    <select id="queryByCatalogIds" resultType="com.wanghui.shiyue.article.entity.po.ArticlePO">
        SELECT
            a.article_id,a.catalog_id,a.title,a.content,a.class_id,a.invalid_flag,a.create_time,a.summary,a.cover
        FROM article a
        JOIN web.article_catalog ac ON a.article_id = ac.article_id
        WHERE ac.catalog_id IN
        <foreach item="catalogId" collection="catalogIds" open="(" separator="," close=")">
            #{catalogId}
        </foreach>
    </select>
    
    <select id="queryByMultiCondition" resultType="com.wanghui.shiyue.article.entity.po.ArticlePO">
        SELECT
            a.article_id,a.catalog_id,a.title,a.content,a.class_id,a.invalid_flag,a.create_time,a.summary,a.cover
        FROM article a
        LEFT JOIN web.article_catalog ac ON a.article_id = ac.article_id
        LEFT JOIN web.catalog c ON ac.catalog_id = c.catalog_id
        WHERE 1=1
        <if test="classId != null">
            AND a.class_id = #{classId}
        </if>
        <if test="tagIds != null and tagIds.size() > 0">
            AND a.article_id IN (
                SELECT article_id FROM article_tag WHERE tag_id IN
                <foreach item="tagId" collection="tagIds" open="(" separator="," close=")">
                    #{tagId}
                </foreach>
            )
        </if>
        <if test="catalogId != null">
            AND ac.catalog_id = #{catalogId}
        </if>
        <if test="catalogIds != null and catalogIds.size() > 0">
            AND ac.catalog_id IN
            <foreach item="catalogId" collection="catalogIds" open="(" separator="," close=")">
                #{catalogId}
            </foreach>
        </if>
        <if test="catalogLevel != null">
            AND c.level = #{catalogLevel}
        </if>
        <if test="catalogPath != null and catalogPath != ''">
            AND c.path LIKE CONCAT(#{catalogPath}, '%')
        </if>
        GROUP BY a.article_id
    </select>
</mapper>