<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.wanghui.shiyue.article.dao.ArticleMapper">

    <sql id="BaseSQL">
        article_id,catalog_id,title,content,class_id,invalid_flag,create_time,invalid_flag,summary,cover
    </sql>

    <select id="queryByClassId" resultType="com.wanghui.shiyue.article.entity.po.ArticlePO">
        SELECT
            <include refid="BaseSQL"/>
        FROM article
        WHERE class_id = #{classId}
    </select>
</mapper>